* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Regular.ttf);
}

.wrapper {
    width: 1440px;
    margin: auto;
}

.container {
    width: 1250px;
    margin: auto;
}

.first_line {
    background:white;
} 

.nav {
    //width: 1145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    
    .logo {
        display: flex;

        .img {
            width: 100%;
        }

        p {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #0B132A;
            margin: 8px 0 0px 10px;
        }
    }

    .line {
        margin-left: 65px;

        ul {
            width: 470px;
            list-style: none;
            display: flex;
            justify-content: space-between;
               
                li {
                    font-family: Rubik;
                    font-size: 16px;
                    color: #4F5665;
                    a {
                        text-decoration: none;
                    }
                }
        }
    }

    .nav_items {
        // width: 330px;
        display: flex;
        justify-content: space-between;

        .sign {
            width: 150px;
            height: 45px;
            font-family: Rubik;
            font-size: 16px;
            color: #0B132A;
            border-radius: 20px;
            border: none;
            background:none;

                &:hover {
                    width: 150px;
                    height: 45px;
                    border:1px solid red;
                    color: red;
            }
        }

       
    }

}

.line_box {
    display: flex;

    .tex {
        margin-top: 130px;

            h1 {
                font-family: Rubik;
                font-style: normal;
                font-weight: 500;
                font-size: 50px;
                line-height: 70px;
            }

            span {
                font-weight: 600;
            }

            p {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                color: #4F5665;
                margin-top: 20px;
            }

            button {
                width: 250px;
                height: 60px;
               background: none;
                border-radius: 10px;
                color: rgb(134, 131, 131);
                font-family: Rubik;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 25px;
                box-shadow: 2px 10px 8px pink;
                border: none;
                margin-top: 50px;
                transition: all 1s ease;
            }

            button:hover {
                width: 250px;
                height: 60px; 
                background:red; 
                color: white; 
                transform: translate(2px, 2px);
            }
    }

    .line_image {
        margin-top: 100px;
        margin-right: -40px;
    }
}

// restangle
.restangle {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 103px 0 ;
    box-shadow: 44px 34px 140px gainsboro;
    border-radius: 10px;
}


    .restangle:hover {
        border: 2px solid rgb(114, 114, 247);
        height: 200px;
    }

    .restangle :last-child::after {
        content: none;
    }

   .users {
       display: flex;
       position: relative;
   }
    .users::after {
        content: "";
        height: 150px;
        width: 2px;
        background: gainsboro;
        position: absolute;
        left: 255px;
        top: -50px;
    }

    .users image {
        width: 100%;
    }
    .group {
    margin-left: 20px;

       h1 {
        font-family: Rubik;
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
        color: #0B132A;
       }

       h2 {
        font-family: Rubik;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #4F5665;
        text-transform: capitalize;
       }

   }

   .line2 {
       display: flex;
       justify-content: space-between;
       margin-bottom: 120px;

       h1 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        margin: 60px 0 25px 0;
       }

       p {
           margin-bottom: 35px;
           font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: #4F5665;
       }
    }
     .box-group {
         display: flex;

         h2 {
            font-family: Rubik;
            font-size: 14px;
            color: #4F5665;
            line-height: 22px;
            font-weight: normal;
            margin-left: 15px;
         }
     }

    //  line3
   
     .line3 {
        padding-top: 50px;
        box-shadow: inset 0px 0px 102px ghostwhite;

         h1 {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
            text-align: center;
            color: #0B132A;
            margin-bottom: 20px;
         }

         p {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: #4F5665;
         }
        }
        .box-restangle {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

            .boxs{
            width: 330px;
            height: 760px;
            border: 2px solid #DDDDDD;
            border-radius: 10px;
            display: block;


            .image {
                text-align: center;
                padding-top: 80px;
            }

            h1 {
                margin: 30px 0;
                font-family: Rubik;
                font-weight: bold;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                color: #0B132A;
            }
                
            .box-line {
                width: 190px;
                height: 150px;
                margin: auto;

                ul {
                    list-style: none;

                    li {
                        font-size: 14px;
                        font-family: Rubik;
                        font-weight: normal;
                        color:#4F5665;
                        line-height: 30px;
                        position: relative;
                        margin-left: 40px;
                    }

                    li::before {
                        content: "\2714";
                        position: absolute;
                        left: 20px;
                        left: -28px;
                        color: rgb(135, 218, 11);
                    }
                }
            }
                
            p {
                font-family: Rubik;
                font-size: 25px;
                color: #4F5665;
                margin: 140px 0 20px 0;
            }

            button {
                width: 145px;
                height: 45px;
                border: 1px solid red;
                border-radius: 20px;
                background: none;
                margin-left: 90px;
                font-weight: bold;
                font-size: 16px;
                font-family: Rubik;
                color: red;
                box-shadow: 0px 6px 20px pink;
            }

            button:hover {
                width: 145px;
                height: 45px;
                background: red;
                color: white; 
                cursor: pointer; 
            }
            
            span {
                color: black;
                font-family: Rubik;
                font-size: 25px;
                font-weight: bold;
            }
        }
        .boxs:hover {
            border: 2px solid red;
        }
    }

    //line4

    .line4 {
        margin-top: 150px;


        h1 {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 50px;
            text-align: center;
            color: black;
           }

        p {
            font-family: Rubik;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: #4F5665;
            margin: 20px 0 150px 0;
        }

        .location {
            position: relative;

            img {
                display: flex;
                margin: auto;
            }

            .location-item {
                position: absolute;
                top: 1px;
                left: 265px;
                animation: animation 2s infinite;


                @keyframes animation  {
                    0% {
                     transform: scale(1, 1);
                    }

                    50% {
                     transform: scale(1.5, 1.5);
                    }
                    
                    100% {
                        transform: scale(1, 1);
                    }
                }
            
            }
            .location-item1 {
                position: absolute;
                // width: 50px;
                // height: 50px;
                top: 141px;
                left: 243px;
                animation: animation 2s infinite;
            }

            .location-item2 {
                position: absolute;
                // width: 50px;
                // height: 50px;
                top: 265px;
                left: 557px;
                animation: animation 2s infinite;
            }

            .location-item3 {
                position: absolute;
                top: 112px;
                left: 739px;
                animation: animation 2s infinite; 
            }
        }

        .logo-group {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // line5

    .line5 {

        h1 {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        color: #0B132A;
        }

        p {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
             text-align: center;
            color: #4F5665;
        }

        .line-group {
            width: 1300px;
            display: flex;
            justify-content: space-between;
            margin: 60px 0 80px 0;
        }

        .square {
         width: 360px;
         border: 2px solid #DDDDDD;
         border-radius: 10px;
         padding: 20px;

         h6 {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            /* or 187% */

            display: flex;
            align-items: center;

            color: #0B132A;
        }
        }

        .photo-box {
            display: flex;
            margin-bottom: 20px;

            .photo {
                display: flex;

           

            h3 {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 30px;
                margin-right: 20px;
                display: flex;
                align-items: center;
                text-align: center;

                color: #4F5665;
            }

            h4 {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 30px;
                /* or 214% */

                display: flex;
                align-items: center;
                text-align: center;
                color: #4F5665;
            }

            .items {
             margin-left: 20px;   
            }
        }

        .photo-item {
            display: flex;
            align-items: center;
            margin-left: 98px;

            h5 {
                font-family: Rubik;
                font-weight: normal;
                font-size: 16px;
                margin-right: 10px;
            }
        }
     }
    }

    .ellipse-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
      
    }
    .ellipse-item {
        width: 135px;
        display: flex;
    }

    .union {
        background: red;
        width: 45px;
        height: 15px;
        border-radius: 10px;
    }

    .ellipse {
        background: #DDE0E4;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-left: 15px;
    }

    .button {
        position: relative;
    }

    .right {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid red;
        background: none;
        margin-right: 25px;
        
        &:hover {
            background: red;
            color: white;
            cursor: pointer;
        }
    }

    .vector {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .vector_left {
        position: absolute;
        color: red;
        font-size: 26px;
        left: 107px;
        top: 16px;
    }

    .left {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid red;
        background:red;

       &:hover {
            background:white;
            color:red;
        }
    }
 // line6
 .line6 {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 25px;
    position: relative;
    top: 92px;
    background: white;
    box-shadow: 0 7px 10px gainsboro;
}

.title {

    h2 {
        font-family: Rubik;
        font-size: 35px;
        color: #0B132A;
        font-weight:bold;
        line-height: 45px;
        margin-bottom: 20px;
    }

    h3 {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;

        color: #4F5665;
    }
}

.line6-button {
    width: 250px;
    height: 85px;
    // background:none;
    color:red;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 27px palevioletred;
    transition: all 1s ease;

    &:hover {
        background: red;
        color: white;
        cursor: pointer;
        transform: translate(2px, 2px);
    }
}

//footer

.footer {
    padding-top: 180px;
    display: flex;
    justify-content:space-around;
    background: #F8F8F8;
}

.media {
   

    h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;
        margin: 20px 0 20px 0;
    }

    h3 {
        font-family: Rubik;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #AFB5C0;
    }
}

.footer-logo {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media-logo {
    width: 210px;
    height: 42px;
    display: flex;
    margin-bottom: 10px;
}

.section {
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.product {

    h1 {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #0B132A;

    }

    ul {
        list-style: none;

        span {
            text-transform: capitalize;
            font-family: Rubik;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #0B132A;
        }

        li {
            font-family: Rubik;
            font-size: 14px;
            line-height: 30px;
            color: #4F5665;
            padding-bottom: 3px;
        }
    }
}